{% extends 'base.html' %}

{% block title %}
    <title>Pricing Module List</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Pricing Module Information</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Distance Base Price</th>
                <th scope="col">Distance Additional Price</th>
                <th scope="col">Time Multiplier Factor</th>
                <th scope="col">distance</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pC %}
                <tr>
                    <th scope="row">{{ p.distanceBasePrice }}</th>
                    <td>{{ p.distanceAdditionalPrice }}</td>
                    <td>{{ p.timeMultiplierFactor }}</td>
                    <td>
                        <a style="margin-right: 30px;" href="{% url 'edit-pricingModule' p.id %}">Edit</a>
                        <a href="{% url 'delete-pricingModule' p.id %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'create-pricingModule' %}"><button type="button" class="btn btn-primary">Add New Info</button></a>
    </div>
{% endblock content %}
